<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/search.css">
    <link rel="stylesheet" type="text/css" href="../static/css/cart.css">

    <script src="https://kit.fontawesome.com/b9edfb7622.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.js"></script>

    <link rel='shortcut icon' type='image/x-icon' href="../static/img/chordFlow.ico"/>

    <title>Results Search - Chord Flow</title>
</head>

<body>
{%verbatim %}
<!-- HEADER -->
<div class="container-fluid header-wrapper sticky-top" id="auth">
    <header class=" container-fluid container-lg">
        <nav class="nav-flexbox flex-space-between-custom display-flex-custom flex-center-custom">
            <div class="d-flex align-items-center flex-nowrap">
                <div class="brand-logo display-flex-custom flex-center-custom">
                    <div class="logo-img display-flex-custom flex-center-custom">
                        <img class="logo-image" src="../static/img/MIX_LOGO3Зpng.png" alt="logo-img">
                        <a class="nav-user-link flex-container"
                           href="https://2gis.kz/almaty/inside/9430047375048660/firm/70000001050261708?m=76.910666%2C43.225079%2F16"
                           target="_blank">
                            <img src="../static/img/icons8-home-50.png" alt="home-icon" width="25" height="25">
                            <span>&nbsp;Тимирязева 42 ТЦ Галерея</span>
                        </a>
                        <a class="nav-user-link phone-number flex-container" href="tel:+77017124804">
                            <img src="../static/img/icons8-phone-50.png" alt="phone-icon" width="25" height="25">
                            <span>&nbsp;8 701 712 48 04</span>
                        </a>
                    </div>
                </div>


            </div>
            <div class="login-info flex-center-custom display-flex-custom d-none d-md-flex h-medium-font">
                <a class="nav-hd-link h-medium-font text-nowrap" href="http://127.0.0.1:8000/userItems.html">
                    <i class="fas fa-shopping-cart fa-lg"></i>&nbsp;&nbsp;CART
                </a>
                <div class="login-info flex-center-custom display-flex-custom d-none d-md-flex h-medium-font">
                    <!-- Login/Register Form -->
                    <form v-if="!isLoggedIn" class="nav-hd-link h-medium-font text-nowrap" @submit.prevent="login">
                        <input type="text" placeholder="Username" v-model="username" required>
                        <input type="password" placeholder="Password" v-model="password" required>
                        <button type="button" @click="login">Log In</button>
                        <button type="button" @click="register">Register</button>
                    </form>

                    <!-- Logged In User Info -->
                    <div v-else class="user-info">
                        <span>{{ username }}</span>
                        <button type="button" @click="logout">Log Out</button>
                    </div>
                </div>

                <!--?                <img src="../static/img/user.png" alt="user-icon" width="35" height="35">-->
            </div>
        </nav>
    </header>
</div>
<!-- MAIN SEARCH -->
<div id="clothes-cards">
    <main class="mb-4">
        <div class="container-fluid search-div d-flex flex-column justify-content-center align-items-center">
            <form class="form-search d-flex" @submit.prevent="searchForm">
                <input class="search-input" type="text" v-model="searchQuery" placeholder="What do you look for...">
                <button class="button-search" type="submit">Search</button>
            </form>
        </div>
    </main>
</div>
<div id="usercart" class="container mt-4">
    <div class="row">
        <!-- Iterate over each item in userItems -->
        <div class="col-12 mb-3" v-for="item in userItems" :key="item.id">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img :src="item.clothes.image" class="card-img" alt="Clothes Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.clothes.name }}</h5>
                            <!-- Sizes, if applicable -->
                            <p class="color-dark-gray h-medium-font">Size: {{ item.size}}</p>
                            <p class="card-text"><small class="text-muted">Vendor Code: {{ item.clothes.vendor_code}}</small>
                            </p>
                            <p class="card-text">Price: {{ item.clothes.price }} $</p>
                            <button type="submit" style="background-color: red" @click="deleteItem(item.id)">delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}

<script src="../static/cart.js"></script>
<script src="../static/userCart.js"></script>
<script src="../static/app.js"></script>
<script src="../static/auth.js"></script>
</body>
</html>